*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
ul , ol {
    padding: 0;
}